###> app/konnect-payment ###
KONNECT_API_BASE_URL="https://api.sandbox.konnect.network/api/v2"
KONNECT_API_KEY="replace-with-your-konnect-api-key"
KONNECT_WALLET_ID="replace-with-your-konnect-wallet-id"
KONNECT_TOKEN="TND"
###< app/konnect-payment ###

###> app/demo-card-payment ###
DEMO_CARD_PAYMENT_ENABLED=1
CARD_OCR_API_URL="http://127.0.0.1:5055/ocr/card"
###< app/demo-card-payment ###

###> app/openai ###
OPENAI_API_KEY="replace-with-your-openai-api-key"
OPENAI_MODEL="gpt-4o-mini"
###< app/openai ###

###> app/stripe-payment ###
STRIPE_SECRET_KEY="replace-with-your-stripe-secret-key"
STRIPE_PUBLISHABLE_KEY="replace-with-your-stripe-publishable-key"
STRIPE_CURRENCY="eur"
###< app/stripe-payment ###

###> app/ai-chat ###
GROQ_API_KEY="replace-with-your-openai-api-key"
GROQ_MODEL="llama-3.3-70b-versatile"
GROQ_VISION_MODEL="llama-3.2-11b-vision-preview"
GROQ_AUDIO_MODEL="whisper-large-v3"
GIPHY_API_KEY="replace-with-your-giphy-api-key"
GEMINI_ASSISTANT_EMAIL="gemini.bot@ecoadventure.local"
###< app/ai-chat ###

###> app/moderation ###
BAD_WORDS_EN=""
BAD_WORDS_FR=""
BAD_WORDS_AR=""
###< app/moderation ###

###> app/public-ticket ###
# URL utilisee dans les QR codes pour les tickets mobiles.
# Exemple en local reseau: PUBLIC_APP_URL="http://192.168.1.236:8000"
PUBLIC_APP_URL=""
###< app/public-ticket ###
