### Symfony ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

### PHPUnit ###
/phpunit.xml
/.phpunit.cache/

### Assets ###
/public/assets/
/assets/vendor/

### Python ###
venv/
ml-api/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

### ML ###
*.pkl
!ml-api/xgboost_churn_production_final.pkl

### OS ###
.DS_Store
Thumbs.db