ALTER TABLE conversation CHANGE id_createur id_createur INT NOT NULL;
ALTER TABLE conversation ADD CONSTRAINT FK_8A8E26E9AA033611 FOREIGN KEY (id_createur) REFERENCES user_app (id_user);
ALTER TABLE conversation_user DROP INDEX IDX_5AECB55542F58393, ADD INDEX IDX_5AECB5556B3CA4B (id_user);
ALTER TABLE conversation_user DROP INDEX IDX_C21CED96A94F539B, ADD INDEX IDX_5AECB555A94F539B (id_conversation);
DROP INDEX IDX_C21CED966B3CA4B ON conversation_user;
DROP INDEX IDX_5AECB55514B1C9E5 ON conversation_user;
ALTER TABLE conversation_user ADD CONSTRAINT FK_5AECB555A94F539B FOREIGN KEY (id_conversation) REFERENCES conversation (id_conversation);
ALTER TABLE conversation_user ADD CONSTRAINT FK_5AECB5556B3CA4B FOREIGN KEY (id_user) REFERENCES user_app (id_user);
DROP INDEX idx_message_conversation_read_priority ON message;
ALTER TABLE message CHANGE contenu contenu VARCHAR(10000) DEFAULT NULL, CHANGE date_lecture date_lecture DATETIME DEFAULT NULL, CHANGE id_conversation id_conversation INT NOT NULL, CHANGE id_user id_user INT NOT NULL, CHANGE date_modifier date_modifier DATETIME DEFAULT NULL, CHANGE reactions reactions JSON DEFAULT NULL, CHANGE attachments attachments JSON DEFAULT NULL, CHANGE priorite_message priorite_message VARCHAR(255) DEFAULT 'NORMAL' NOT NULL;
ALTER TABLE message ADD CONSTRAINT FK_B6BD307FA94F539B FOREIGN KEY (id_conversation) REFERENCES conversation (id_conversation);
ALTER TABLE message ADD CONSTRAINT FK_B6BD307F6B3CA4B FOREIGN KEY (id_user) REFERENCES user_app (id_user);
ALTER TABLE user_app DROP churn_probability, DROP churn_prediction, DROP churn_risk, DROP last_prediction_at, DROP google_token, DROP weight, DROP height, DROP gender, DROP activity_level, DROP goal_notified, CHANGE telephone telephone VARCHAR(30) DEFAULT NULL, CHANGE image_url image_url VARCHAR(255) DEFAULT NULL, CHANGE experience experience VARCHAR(50) DEFAULT NULL, CHANGE specialite specialite VARCHAR(255) DEFAULT NULL, CHANGE disponibilite disponibilite VARCHAR(255) DEFAULT NULL, CHANGE last_seen last_seen DATETIME DEFAULT NULL, CHANGE referral_code referral_code VARCHAR(10) DEFAULT NULL, CHANGE face_descriptor face_descriptor JSON DEFAULT NULL, CHANGE failed_attempts failed_attempts INT DEFAULT 0 NOT NULL;
CREATE UNIQUE INDEX UNIQ_22781144E7927C74 ON user_app (email);
ALTER TABLE planning CHANGE titre titre VARCHAR(100) DEFAULT NULL, CHANGE description description VARCHAR(500) DEFAULT NULL, CHANGE date_fin date_fin DATE DEFAULT NULL;
ALTER TABLE seance CHANGE id_planning id_planning INT NOT NULL, CHANGE id_coach id_coach INT NOT NULL;
ALTER TABLE seance ADD CONSTRAINT FK_DF7DFD0E84425363 FOREIGN KEY (id_planning) REFERENCES planning (id_planning);
ALTER TABLE seance ADD CONSTRAINT FK_DF7DFD0ED1DC2CFC FOREIGN KEY (id_coach) REFERENCES user_app (id_user);
ALTER TABLE reclamation ADD CONSTRAINT FK_CE6064046B3CA4B FOREIGN KEY (id_user) REFERENCES user_app (id_user);
CREATE INDEX IDX_CE6064046B3CA4B ON reclamation (id_user);
ALTER TABLE evenement CHANGE description description VARCHAR(1000) DEFAULT NULL, CHANGE statut statut VARCHAR(255) DEFAULT NULL, CHANGE image_url image_url VARCHAR(255) DEFAULT NULL, CHANGE prix prix NUMERIC(10, 2) NOT NULL;
ALTER TABLE reservation_evenement ADD CONSTRAINT FK_116109816B3CA4B FOREIGN KEY (id_user) REFERENCES user_app (id_user);
ALTER TABLE reservation_evenement ADD CONSTRAINT FK_116109818B13D439 FOREIGN KEY (id_evenement) REFERENCES evenement (id_evenement);
ALTER TABLE activite CHANGE latitude latitude DOUBLE PRECISION DEFAULT NULL, CHANGE longitude longitude DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE activite ADD CONSTRAINT FK_B87555151CFE4221 FOREIGN KEY (id_pack) REFERENCES pack (id_pack);
ALTER TABLE blocked_messaging_user CHANGE reason reason VARCHAR(255) DEFAULT NULL;
ALTER TABLE blocked_messaging_user ADD CONSTRAINT FK_AC7D4655A76ED395 FOREIGN KEY (user_id) REFERENCES user_app (id_user) ON DELETE CASCADE;
ALTER TABLE blocked_messaging_user RENAME INDEX idx_blocked_messaging_user_user TO IDX_AC7D4655A76ED395;
ALTER TABLE event_rating ADD CONSTRAINT FK_EA1051706B3CA4B FOREIGN KEY (id_user) REFERENCES user_app (id_user);
ALTER TABLE event_rating ADD CONSTRAINT FK_EA1051708B13D439 FOREIGN KEY (id_evenement) REFERENCES evenement (id_evenement);
ALTER TABLE feedback_event CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE feedback_event ADD CONSTRAINT FK_AF0F93C2A76ED395 FOREIGN KEY (user_id) REFERENCES user_app (id_user);
ALTER TABLE feedback_event ADD CONSTRAINT FK_AF0F93C21919B217 FOREIGN KEY (pack_id) REFERENCES pack (id_pack);
ALTER TABLE inscription CHANGE nom_user nom_user VARCHAR(255) DEFAULT NULL, CHANGE nom_pack nom_pack VARCHAR(255) DEFAULT NULL, CHANGE id_user id_user INT NOT NULL, CHANGE id_pack id_pack INT NOT NULL, CHANGE payment_gateway payment_gateway VARCHAR(40) DEFAULT NULL, CHANGE payment_reference payment_reference VARCHAR(120) DEFAULT NULL, CHANGE payment_order_id payment_order_id VARCHAR(120) DEFAULT NULL, CHANGE payment_status payment_status VARCHAR(40) DEFAULT NULL, CHANGE paid_at paid_at DATETIME DEFAULT NULL, CHANGE card_image card_image VARCHAR(255) DEFAULT NULL;
ALTER TABLE inscription ADD CONSTRAINT FK_5E90F6D61CFE4221 FOREIGN KEY (id_pack) REFERENCES pack (id_pack);
ALTER TABLE inscription ADD CONSTRAINT FK_5E90F6D66B3CA4B FOREIGN KEY (id_user) REFERENCES user_app (id_user);
ALTER TABLE localisation CHANGE gouvernorat gouvernorat VARCHAR(100) NOT NULL, CHANGE delegation delegation VARCHAR(100) NOT NULL, CHANGE latitude latitude DOUBLE PRECISION NOT NULL, CHANGE longitude longitude DOUBLE PRECISION NOT NULL, CHANGE ville ville VARCHAR(100) DEFAULT NULL;
ALTER TABLE nutrition_log CHANGE food_name food_name VARCHAR(255) DEFAULT NULL, CHANGE calories calories DOUBLE PRECISION DEFAULT NULL, CHANGE log_date log_date DATE DEFAULT NULL, CHANGE protein protein DOUBLE PRECISION DEFAULT NULL, CHANGE fat fat DOUBLE PRECISION DEFAULT NULL, CHANGE carbs carbs DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE nutrition_log ADD CONSTRAINT FK_18B697FA76ED395 FOREIGN KEY (user_id) REFERENCES user_app (id_user);
ALTER TABLE recommendation_log CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE recommendation_log ADD CONSTRAINT FK_73E8AA4AA76ED395 FOREIGN KEY (user_id) REFERENCES user_app (id_user);
ALTER TABLE reservation_activite CHANGE ville_user ville_user VARCHAR(100) DEFAULT NULL;
ALTER TABLE reservation_activite ADD CONSTRAINT FK_25C0B7016B3CA4B FOREIGN KEY (id_user) REFERENCES user_app (id_user);
ALTER TABLE reservation_activite ADD CONSTRAINT FK_25C0B701E8AEB980 FOREIGN KEY (id_activite) REFERENCES activite (id_activite);
ALTER TABLE reservation_activite RENAME INDEX ix_res_act_user TO IDX_25C0B7016B3CA4B;
ALTER TABLE reservation_activite RENAME INDEX ix_res_act_act TO IDX_25C0B701E8AEB980;
ALTER TABLE reservation_seance CHANGE google_event_id google_event_id VARCHAR(255) DEFAULT NULL;
ALTER TABLE reservation_seance ADD CONSTRAINT FK_978CB4956B3CA4B FOREIGN KEY (id_user) REFERENCES user_app (id_user);
ALTER TABLE reservation_seance ADD CONSTRAINT FK_978CB495F94A48E3 FOREIGN KEY (id_seance) REFERENCES seance (id_seance);
ALTER TABLE reset_password_request ADD CONSTRAINT FK_7CE748AA76ED395 FOREIGN KEY (user_id) REFERENCES user_app (id_user);
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
