parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - src/Entity/UserApp.php
        - src/Entity/Reclamation.php
        - src/Entity/ResetPasswordRequest.php
        - src/Controller/UserAppController.php
        - src/Controller/ReclamationController.php
        - src/Controller/RegistrationController.php
        - src/Controller/LoginController.php
        - src/Controller/SecurityController.php
        - src/Controller/ResetPasswordController.php
        - src/Controller/AiReclamationController.php
        - src/Controller/ProfileController.php
        - src/Controller/GoogleController.php
        - src/Service/UserManager.php
        - src/Service/SmsService.php
        - src/EventListener/LoginListener.php
        - src/Repository/ReclamationRepository.php
        - src/Repository/UserAppRepository.php
        - src/Security/GoogleAuthenticator.php
    ignoreErrors:
        - '#is never assigned.*so it can be removed from the property type#'
        -
            identifier: property.unusedType
            path: src/Entity/*
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.parameter
        -
            identifier: missingType.property
        -
            identifier: missingType.generics
        -
            identifier: missingType.return
        -
            identifier: return.type
        -
            identifier: argument.type
        -
            identifier: cast.string
        -
            identifier: binaryOp.invalid
        -
            identifier: method.notFound
        -
            identifier: offsetAccess.notFound
        -
            identifier: property.nonObject
        -
            identifier: method.nonObject
        -
            message: '#Cannot access property .* on .*\|null#'
        -
            message: '#Cannot call method .* on .*\|null#'
        -
            identifier: encapsedStringPart.nonString
        -
            identifier: offsetAccess.nonOffsetAccessible
        -
            identifier: cast.int
        -
            identifier: cast.double
        -
            identifier: foreach.nonIterable
