body {
    background-color: skyblue;
}
/* ===== FORM STYLE PRO ===== */

.form-control:focus,
.form-select:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.2);
}

/* erreurs */
.text-danger.small {
    font-size: 0.85rem;
}

/* hover card */
.admin-card {
    transition: 0.3s;
}

.admin-card:hover {
    transform: translateY(-3px);
}